@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

.MAIN {
  font-family: 'Special Elite', cursive !important;
  width: 100%;
  height: 100%;
  background: url("map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

*::selection {
    background-color: transparent;
}

.fa-map-marker-alt, .fa-map-marker {
    position: absolute;
    font-size: x-large;
    color: green;
    text-shadow: 0 0 5px #000, 0 0 1px #000, 0 0 1px #000, 0 0 5px #000;
    transition: font-size 0.25s;
}

.info-box {
    font-family: 'Special Elite', cursive !important;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3.5px;
    position: absolute;
    color: green;
    font-size: 20px;
    width: 750%;
    height: 100%;
    text-align: center;
    bottom: -5%;
    left: 120%;
    padding-top: 50%;
    z-index: 100;
}

#info {
    left: 25%;
    top: 25%;
    color:rgba(20, 16, 16, 0.692);
    font-family: 'Special Elite', cursive !important;
    font-size: xx-large;
    border-radius: 10px;
    border-bottom: 10px;
}

.SPAWN-TIPS h3 {
    margin: 0;
    font-size: 1vh;
}

.h2 {
    color:yellow;
}

.SPAWN-TIPS {
    position: relative;
    left: 0;
    margin: 0 auto;
    width: 30%;
    padding-top: 50px;
  	background: url("bk.png");
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
    text-align: center;
    color: black;
    font-size: 1.5vh;
    padding: 10px;
    font-family: 'Special Elite', cursive !important;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

#loc0 { /* VALENTINE */
    top: 29.0%;
    left: 52.5%;
}

#loc1 { /* BLACKWATER */
    top: 70.0%;
    left: 46.2%;
}

#loc2 { /* RHODES */
    top: 71%;
    left: 69.8%;
}

#loc3 { /* Saint Denis */
    top: 67.0%;
    left: 84.5%;
}

#loc4 { /* Strawberry */
    top: 51.5%;
    left: 33.2%;
}

#loc5 { /* Annesburg */
    top: 15%;
    left: 87%;
}

/* HHH */
#textbox {
	width: 100%; 
	height: 100%;    
}

.intro-text h2 {
    font-family: 'Special Elite', cursive !important;
    color: white;
	font-size: 50px;
	font-weight: 20%;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 4px;
	text-align: center;
	opacity: 0;
}

.intro-text h2,
.intro-text h2 > span {
      font-family: 'Special Elite', cursive !important;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.intro-text h2 > span {
	margin: 0 15px;
}



.intro-text h2 > span > span > span {
      font-family: 'Special Elite', cursive !important;
	display: inline-block;
	color: white;
	animation: TextSequence 8.0s linear forwards;
}

@keyframes TextSequence {
	25% {
		text-shadow: 0 0 3px #000;
		opacity: 0.8;
	}
	50% {
		text-shadow: 0 0 2px #000;
		opacity: 0.8;
	}
	75% {
		text-shadow: 0 0 1px #000;
		opacity: 0.8;
	}
	100% {
		text-shadow: 0 0 2px #000;
		opacity: 0;
	}
}

@-webkit-keyframes FadeIn { 
	0% {
		opacity: 1;
		text-shadow: 0 0 50px #000;
	}
	50% {
		opacity: 1;
		text-shadow: 0 0 1px #000;
	}
}

@-moz-keyframes FadeIn { 
	50% {
		opacity: 1;
		text-shadow: 0 0 50px #000;
	}
	10% {
		opacity: 1;
		text-shadow: 0 0 1px #000;
	}
}

@keyframes FadeIn { 
	50% {
		opacity: 1;
		text-shadow: 0 0 50px #000;
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 1px #000;
	}
}